[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask-restful = "*"
python-dotenv = "*"
flask-cors = "*"
stellar-sdk = "==2.4.1"
twilio = "*"
mongoengine = "*"

[requires]
python_version = "3.6"
